xs()
  {block}
sm()
  @media screen and (min-width: 576px)
    {block}
md()
  @media screen and (min-width: 768px)
    {block}
lg()
  @media screen and (min-width: 992px)
    {block}
xl()
  @media screen and (min-width: 1200px)
    {block}
xxl()
  @media screen and (min-width: 1400px)
    {block}
