.resp_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.resp_grid:not(.no_default_gap) {
  grid-gap: calc(var(--us) * 2);
}
.xs_col_1 {
  grid-column: span 1;
}
.xs_col_2 {
  grid-column: span 2;
}
.xs_col_3 {
  grid-column: span 3;
}
.xs_col_4 {
  grid-column: span 4;
}
.xs_col_5 {
  grid-column: span 5;
}
.xs_col_6 {
  grid-column: span 6;
}
.xs_col_7 {
  grid-column: span 7;
}
.xs_col_8 {
  grid-column: span 8;
}
.xs_col_9 {
  grid-column: span 9;
}
.xs_col_10 {
  grid-column: span 10;
}
.xs_col_11 {
  grid-column: span 11;
}
.xs_col_12 {
  grid-column: span 12;
}
@media screen and (min-width: 576px) {
  .sm_col_1 {
    grid-column: span 1;
  }
  .sm_col_2 {
    grid-column: span 2;
  }
  .sm_col_3 {
    grid-column: span 3;
  }
  .sm_col_4 {
    grid-column: span 4;
  }
  .sm_col_5 {
    grid-column: span 5;
  }
  .sm_col_6 {
    grid-column: span 6;
  }
  .sm_col_7 {
    grid-column: span 7;
  }
  .sm_col_8 {
    grid-column: span 8;
  }
  .sm_col_9 {
    grid-column: span 9;
  }
  .sm_col_10 {
    grid-column: span 10;
  }
  .sm_col_11 {
    grid-column: span 11;
  }
  .sm_col_12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 768px) {
  .md_col_1 {
    grid-column: span 1;
  }
  .md_col_2 {
    grid-column: span 2;
  }
  .md_col_3 {
    grid-column: span 3;
  }
  .md_col_4 {
    grid-column: span 4;
  }
  .md_col_5 {
    grid-column: span 5;
  }
  .md_col_6 {
    grid-column: span 6;
  }
  .md_col_7 {
    grid-column: span 7;
  }
  .md_col_8 {
    grid-column: span 8;
  }
  .md_col_9 {
    grid-column: span 9;
  }
  .md_col_10 {
    grid-column: span 10;
  }
  .md_col_11 {
    grid-column: span 11;
  }
  .md_col_12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 992px) {
  .lg_col_1 {
    grid-column: span 1;
  }
  .lg_col_2 {
    grid-column: span 2;
  }
  .lg_col_3 {
    grid-column: span 3;
  }
  .lg_col_4 {
    grid-column: span 4;
  }
  .lg_col_5 {
    grid-column: span 5;
  }
  .lg_col_6 {
    grid-column: span 6;
  }
  .lg_col_7 {
    grid-column: span 7;
  }
  .lg_col_8 {
    grid-column: span 8;
  }
  .lg_col_9 {
    grid-column: span 9;
  }
  .lg_col_10 {
    grid-column: span 10;
  }
  .lg_col_11 {
    grid-column: span 11;
  }
  .lg_col_12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 1200px) {
  .xl_col_1 {
    grid-column: span 1;
  }
  .xl_col_2 {
    grid-column: span 2;
  }
  .xl_col_3 {
    grid-column: span 3;
  }
  .xl_col_4 {
    grid-column: span 4;
  }
  .xl_col_5 {
    grid-column: span 5;
  }
  .xl_col_6 {
    grid-column: span 6;
  }
  .xl_col_7 {
    grid-column: span 7;
  }
  .xl_col_8 {
    grid-column: span 8;
  }
  .xl_col_9 {
    grid-column: span 9;
  }
  .xl_col_10 {
    grid-column: span 10;
  }
  .xl_col_11 {
    grid-column: span 11;
  }
  .xl_col_12 {
    grid-column: span 12;
  }
}
@media screen and (min-width: 1400px) {
  .xxl_col_1 {
    grid-column: span 1;
  }
  .xxl_col_2 {
    grid-column: span 2;
  }
  .xxl_col_3 {
    grid-column: span 3;
  }
  .xxl_col_4 {
    grid-column: span 4;
  }
  .xxl_col_5 {
    grid-column: span 5;
  }
  .xxl_col_6 {
    grid-column: span 6;
  }
  .xxl_col_7 {
    grid-column: span 7;
  }
  .xxl_col_8 {
    grid-column: span 8;
  }
  .xxl_col_9 {
    grid-column: span 9;
  }
  .xxl_col_10 {
    grid-column: span 10;
  }
  .xxl_col_11 {
    grid-column: span 11;
  }
  .xxl_col_12 {
    grid-column: span 12;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 calc(var(--us) * 2);
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 calc(var(--us) * 4);
  }
}
main.container {
  margin-bottom: calc(var(--us) * 4);
}
@media screen and (min-width: 1200px) {
  main.container {
    margin-bottom: calc(var(--us) * 8);
  }
}
:root {
/* sizes 尺寸 */
  --fs: 16px;
  --fs-sm: calc(var(--fs) * 0.875);
  --fs-xs: calc(var(--fs) * 0.75);
  --us: calc(var(--fs) / 2);
/* colors 颜色 */
  --fc: 0, 0, 0;
  --bc: 255, 255, 255;
  --alpha-times: 1;
/* 样式 */
  line-height: 1;
  font-size: var(--fs);
  color: rgb(var(--fc));
  background-color: rgb(var(--bc));
}
@media (prefers-color-scheme: light) {
  :root {
    --fc: 0, 0, 0;
    --bc: 255, 255, 255;
    --alpha-times: 1;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --fc: 255, 255, 255;
    --bc: 0, 0, 0;
    --alpha-times: 2;
  }
}
button.btn,
a.btn {
  box-sizing: border-box;
  display: inline-block;
  border: none;
  vertical-align: middle;
  outline: none;
  font-size: var(--fs-sm);
  padding: 0 1em;
  margin: 0;
  line-height: 2;
  background-color: rgba(var(--fc), calc(0.1 * var(--alpha-times)));
  color: rgb(var(--fc));
  cursor: pointer;
}
button.btn:focus,
a.btn:focus {
  outline: solid rgba(var(--fc), calc(0.2 * var(--alpha-times)));
}
button.btn:active,
a.btn:active {
  opacity: 0.88;
}
html,
body {
  margin: 0;
  padding: 0;
}
p {
  margin: 1em 0;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin: 2em 0 1em;
  line-height: 1;
}
h1 + h2 {
  margin-top: 0;
}
h2 + h3 {
  margin-top: 0;
}
h3 + h4 {
  margin-top: 0;
}
h4 + h5 {
  margin-top: 0;
}
