fc(alpha = false)
  if alpha
    s('rgba(%s, %s)', var(--fc), alpha)
  else
    'rgb(%s)' % var(--fc)
bc(alpha = false)
  if alpha
    'rgba(%s, %s)' % var(--bc) alpha
  else
    'rgb(%s)' % var(--bc)
