@import './color.styl'
@import './size.styl'
@import './breakpoint'

focusable()
  &:focus
    outline: solid fc(.2)

clickable()
  focusable()
  &:active
    opacity: .88

border-radius()
  border-radius: fs(.25)

light()
  @media (prefers-color-scheme: light)
    {block}
dark()
  @media (prefers-color-scheme: dark)
    {block}
