.input,
label.field > input:not([type]),
label.field > input[type=password]
  outline: none
  background-color: transparent
  box-sizing: border-box
  display: block
  width: 100%
  color: inherit

  border_radius()

  +light()
    border: 1px solid fc(.1)
  +dark()
    border: 1px solid fc(.2)
  height: 2.5em
  font-size: fs()
  padding: 0 .75em
  &:focus
    border-color: fc(.3)

.simple_style
  input:not([type]),
  input[type=password],
  input[type=text],
  select
    @extends .input

label.field
  display: block
  margin: 1em 0
  input:not([type]),
  input[type=text]
  input[type=password]
    margin-top: .5em
  & + .btn
    margin-top: 1.5em
