input.input,
select.input,
label.input > input:not([type]),
label.input > input[type=password]
  outline: none
  background-color: transparent
  box-sizing: border-box
  display: block
  width: 100%
  color: inherit

  border-radius()

  border: 1px solid fc(.1)
  height: 2.5em
  font-size: fs()
  padding: 0 .75em
  &:focus
    border-color: fc(.3)

label.input
  display: block
  margin: 1em 0
  input:not([type]),
  input[type=text]
  input[type=password]
    margin-top: .5em
  & + .btn
    margin-top: 1.5em
