menu.menu
  margin: 0
  padding: 0
  list-style: none
  li
    padding: 0
    & + li
      border-top: 1px solid fc(.18)
    button
      @extends .btn
      width: 100%
      border-top-left-radius: 0
      border-top-right-radius: 0
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
