dialog.menu_container
  border: none
  outline: none
  color: inherit
  padding: 1em // 给 box-shadow 留空间
  background: transparent
  animation: fade_in_from_above .3s
  &::backdrop
    background-color: fc(.3)
    animation: fade_in .38s
  menu
    margin: 0
    padding: .1em 0
    list-style: none
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
    background: bc()
    li
      padding: 0
      & + li
        +light()
          border-top: 1px solid fc(.05)
        +dark()
          border-top: 1px solid fc(.15)
    button
      outline: none
      border: none
      color: inherit
      background-color: transparent

      display: block
      width: 100%
      line-height: 3
      font-size: fs-sm()
      padding: 0 3em
      clickable()
      &:focus
        +light()
          outline: solid fc(.15)
        +dark()
          outline: solid fc(.25)
