.last.x
  --size: var(---size, 1rem)
  --width: var(---width, 1px)
  width: var(--size)
  height: var(--size)
  display: var(---display, block)
  position: var(---position, relative)

.last.x::before, .last.x::after
  content: ""
  display: block
  background: currentColor

  width: var(--width, 1px)
  height: calc(var(--size) * 1.414)

  position: absolute
  top: calc(var(--size) * (-0.207))
  left: calc(50% - var(--width) / 2)

.last.x::before
  transform: rotate(45deg)

.last.x::after
  transform: rotate(-45deg)
