html, body
  margin: 0
  padding: 0

p, blockquote
  margin: 1em 0
  line-height: 1.5
blockquote
  border-left: us(.5) solid fc(.1)
  color: fc(.8)
  background-color: fc(.02)
  padding: us() 0 us() 1em
  font-size: fs-sm()

h1, h2, h3, h4, h5
  font-weight: bold
  margin: 2em 0 1em
  line-height: 1

h1
  fs(2)
  & + h2
    margin-top: 0

h2
  fs(1.5)
  & + h3
    margin-top: 0

h3
  fs(1.25)
  & + h4
    margin-top: 0

h4
  fs(1.125)
  & + h5
    margin-top: 0

h5
  fs(1)

