:root
  /* sizes 尺寸 */
  --fs: 16px // font size
  --fs-sm: calc(var(--fs) * .875)
  --fs-xs: calc(var(--fs) * .75)
  --us: calc(var(--fs) / 2) // unit size

  /* colors 颜色 */
  --white: 246,246,246
  --black: 0,0,0
  --fc: var(--black) // foreground color
  --bc: var(--white) // background color
  --alpha-times: 1
  @media (prefers-color-scheme: light)
    --fc: var(--black) // foreground color
    --bc: var(--white) // background color
    --alpha-times: 1

  @media (prefers-color-scheme: dark)
    --fc: var(--white) // foreground color
    --bc: var(--black) // background color
    --alpha-times: 2

  /* 样式 */
  line-height: 1
  font-size: var(--fs)
  color: fc()
  background-color: bc()
